<!-- Chat Container -->
<div class="col-6 chat-container">
  <div class="chat-messages p-3">
    <div class="message p-2 mb-2 bg-light">
      <small class="font-weight-bold text-primary mb-1">Raymond Oung <span class="text-secondary">9:18 am</span></small>
      <p>Hello, how are you doing?</p>
    </div>
    <div class="message p-2 mb-2 bg-light">
      <small class="font-weight-bold text-success mb-1">temi <span class="text-secondary">9:18 am</span></small>
      <p>I'm doing well.</p>
    </div>
    <div class="message p-2 mb-2 bg-light">
      <small class="font-weight-bold text-primary mb-1">Raymond Oung <span class="text-secondary">9:19 am</span></small>
      <p>Can I help you today?</p>
    </div>
    <div class="message p-2 mb-2 bg-light">
      <small class="font-weight-bold text-success mb-1">temi <span class="text-secondary">9:19 am</span></small>
      <p>Yes, where is the meeting room?</p>
    </div>
    <div class="message p-2 mb-2 bg-light">
      <small class="font-weight-bold text-primary mb-1">Raymond Oung <span class="text-secondary">9:20 am</span></small>
      <p>Over by the bathroom.</p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="input-group mb-3">
      <input id="input-message" type="text" placeholder="Enter Message" required autocomplete="off" class="form-control">
      <div class="input-group-append">
        <button id="btn-send-message" class="btn btn-outline-secondary" type="button"><i class="fas fa-paper-plane"></i> Send</button>
      </div>
    </div>
  </div>

</div>