<%- include('header') -%>

<body>
  <%- include('navbar') -%>

  <div class="m-3">
    <div class="row">
      <div class="col-2">
        <div class="list-group" id="list-device"></div>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-3">
            <p class="font-weight-bold">Serial Number</p>
            <p class="font-weight-bold">Status</p>
            <p class="font-weight-bold">Battery</p>
          </div>
          <div class="col-3">
            <p>00119462420</p>
            <p>Online</p>
            <p>95%</p>
          </div>
          <div class="col-6">
            <div class="d-flex">
              <button type="button" class="btn btn-secondary mb-2 ml-auto disabled"><i class="fas fa-edit"></i> Edit</button>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
              </div>
              <select class="custom-select" id="input-goto-select">
                <option selected>Choose Location...</option>
                <option value="1">Kitchen</option>
                <option value="2">Meeting Room</option>
                <option value="3">Entrance</option>
                <option value="4">Home Base</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Go</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <!-- Video Container -->
          <div class="col-6 video-container">
            <div class="m-2" id="video-container">
              <img/>
            </div>
          </div>

          <!-- Chat Container -->
<!--           <div class="col-6 chat-container">
            <div class="chat-messages p-3">
              <div class="message p-2 mb-2 bg-light">
                <small class="font-weight-bold text-primary mb-1">Raymond Oung <span class="text-secondary">9:18 am</span></small>
                <p>Hello, how are you doing?</p>
              </div>
              <div class="message p-2 mb-2 bg-light">
                <small class="font-weight-bold text-success mb-1">temi <span class="text-secondary">9:18 am</span></small>
                <p>I'm doing well.</p>
              </div>
              <div class="message p-2 mb-2 bg-light">
                <small class="font-weight-bold text-primary mb-1">Raymond Oung <span class="text-secondary">9:19 am</span></small>
                <p>Can I help you today?</p>
              </div>
              <div class="message p-2 mb-2 bg-light">
                <small class="font-weight-bold text-success mb-1">temi <span class="text-secondary">9:19 am</span></small>
                <p>Yes, where is the meeting room?</p>
              </div>
              <div class="message p-2 mb-2 bg-light">
                <small class="font-weight-bold text-primary mb-1">Raymond Oung <span class="text-secondary">9:20 am</span></small>
                <p>Over by the bathroom.</p>
              </div>
            </div>
    
            <div class="row mt-3">
              <div class="input-group mb-3">
                <input id="input-message" type="text" placeholder="Enter Message" required autocomplete="off" class="form-control">
                <div class="input-group-append">
                  <button id="btn-send-message" class="btn btn-outline-secondary" type="button"><i class="fas fa-paper-plane"></i> Send</button>
                </div>
              </div>
            </div>

          </div> -->

        </div>
      </div>
    </div>
  </div>


  <!-- footer-->
  <div class="white-text" style="position:relative">
    <small style="position:fixed; bottom:0; width:100%; text-align:center">© 2020 hapi-robo st, Inc. — All Rights Reserved.</small>
  </div>
  

  <!-- JavaScript at end of body for optimized loading-->

  <!-- Bootstrap Javascript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Jitsi-->
  <!-- https://github.com/jitsi/jitsi-meet/blob/master/doc/api.md-->
<!--   <script type="text/javascript" src="https://meet.jit.si/external_api.js"></script> -->

  <!-- Custom -->
  <script src="/js/console.js"></script>

  <script>
    // https://github.com/jitsi/jitsi-meet/blob/master/interface_config.js
    // https://github.com/jitsi/jitsi-meet/blob/master/config.js
    const options = {
      roomName: `temi-4164126087`,
      width: 640,
      height: 480,
      parentNode: document.querySelector('#video-container'),
      interfaceConfigOverwrite: {
        DEFAULT_BACKGROUND: '#ffffff',
        INITIAL_TOOLBAR_TIMEOUT: 1000,
        TOOLBAR_TIMEOUT: 1000,
        TOOLBAR_ALWAYS_VISIBLE: false,
        SHOW_JITSI_WATERMARK: false,
        SHOW_WATERMARK_FOR_GUESTS: false,
        TOOLBAR_BUTTONS: ['microphone', 'camera', 'closedcaptions', 'fullscreen', 'fodeviceselection', 'hangup', 'filmstrip', 'tileview'],
        SETTINGS_SECTIONS: [ 'devices' ],
        CLOSE_PAGE_GUEST_HINT: false,
        SHOW_PROMOTIONAL_CLOSE_PAGE: false,
        RANDOM_AVATAR_URL_PREFIX: false,
        RANDOM_AVATAR_URL_SUFFIX: false,
        ENABLE_FEEDBACK_ANIMATION: false,
        DISABLE_FOCUS_INDICATOR: false,
        DISABLE_DOMINANT_SPEAKER_INDICATOR: false,
        MOBILE_APP_PROMO: false,
        SHOW_CHROME_EXTENSION_BANNER: false
      }
    }
    // const videoHandle = new JitsiMeetExternalAPI('meet.jit.si', options);
  </script>
</body>

</html>
