<%- include('header') -%>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="navbar-collapse w-100 order-1 order-md-0">
      <a class="navbar-brand" href="/">
        <img src="/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Connect
      </a>
    </div>
    <div class="collapse navbar-collapse w-100 order-2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
            <span class="font-weight-bold">
              <%= user.firstName %>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item disabled" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/auth/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Add Robot -->
  <div class="container text-center">
    <div class="row">
      <div class="col" style="margin-top:20%">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Serial Number</span>
          </div>
          <input id="input-serial-number" type="text" class="form-control">
          <div class="input-group-append">
            <button id="btn-add-robot" class="btn btn-outline-secondary" type="button">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Robot List -->
  <div class="container">
    <div id="list-robot" class="list-group">
  </div>

  <!-- TEMPLATE -->
  <div class="container">
    <a id="Serial Number" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5>Name</h5>
        <small>State</small>
      </div>
      <div class="d-flex w-100 justify-content-between">
        <small>Serial Number</small>
        <p>Hello</p>
      </div>
    </a>
  </div>

<!--   <div style="height:100vh;"></div> -->
  <!-- robot selection menu-->
<!--   <div class="row valign-wrapper" id="robot-menu">
    <div class="input-field col l2 offset-l5 m4 offset-m4 s6 offset-s3">
      <input class="validate white-text" id="temi-id" type="text" />
      <label for="temi-id">temi ID</label>
        <div id="robot-collection"></div>
    </div>
  </div> -->

  <!-- control panel-->
  <!-- <div class="container center-align" id="robot-ctrl-panel">
    <a class="btn-flat white-text" id="home-btn">
      <i class="fas fa-home"></i>
    </a>
    <a class="btn-flat white-text" id="video-btn">
      <i class="fas fa-video"></i>
    </a>
    <a class="btn-flat white-text modal-trigger" data-target="waypoint-menu">
      <i class="material-icons">location_on</i>
    </a>
    <a class="btn-flat white-text">
      <i id="battery-state"></i>
    </a>
  </div> -->

  <!-- video-call div-->
<!--   <div class="row valign-wrapper">
    <div class="col l6 offset-l3 s12 center-align" id="video-container"></div>
  </div> -->

  <!-- text input-->
<!--   <div class="row" id="text-input">
    <div class="input-field col l2 offset-l5 m4 offset-m4 s6 offset-s3">
      <input class="validate white-text" id="utterance" type="text" />
      <label for="utterance">Type to speak</label>
    </div>
  </div> -->

  <!-- footer-->
  <div class="white-text" style="position:relative">
    <small style="position:fixed; bottom:0; width:100%; text-align:center">© 2020 hapi-robo st, Inc. — All Rights Reserved.</small>
  </div>
  
  <!-- locations modal-->
<!--   <div class="modal" id="waypoint-menu" style="width:30%;padding:0"></div>
  <div class="modal-content">
    <ul class="collection" id="waypoint-modal"></ul>
  </div> -->


  <!-- JavaScript at end of body for optimized loading-->

  <!-- Bootstrap Javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Custom -->
  <script type="module" src="/js/robot-list.js"></script>
</body>

</html>
