<%- include('header') -%>

<body>
  <%- include('navbar') -%>

  <!-- Display when no devices available -->
  <div id="container-no-devices" class="container text-center" style="display:none">
    <div class="row">
      <div class="col mt-5">
        <a class="btn btn-secondary" href="/devices" role="button">Add some devices</a>
      </div>
    </div>
  </div>

  <div class="m-2">
    <div class="row">
      <!-- Device List -->
      <div class="col-2">
        <div class="list-group" id="list-device"></div>
      </div>
      <!-- End of Device List -->

      <!-- Device Information -->
      <div class="col-10">
        <div id="div-device-details" style="display:none">
          <div class="row">
            <div class="col-3">
              <p><span class="font-weight-bold">Serial Number</span>&emsp;<span id="device-serial"></span></p>
            </div>
            <div class="col-3">
              <p>
                <span class="font-weight-bold">Status</span>&emsp;
                <span id="device-status"></span>&emsp;
                <span id="device-battery"></span>
              </p>
            </div>
            <div class="col-6">
              <div id="input-goto" class="input-group"></div>
            </div> 
          </div>

          <div class="row mt-2">
            <div class="col">
              <button class="btn btn-secondary" type="button" id="btn-video" style="display:none"><i class="fas fa-video"></i> Video</button>
            </div>
          </div>

          <!-- Video Container -->
          <div class="row mt-2">
            <div class="col">
              <div id="div-video"></div>
            </div>
          </div>
          <!-- End of Video Container -->

        </div>
      </div>
      <!-- End of Device Information -->

    </div>
  </div>

  <!-- footer-->
  <div class="white-text" style="position:relative">
    <small style="position:fixed; bottom:0; width:100%; text-align:center">© 2020 hapi-robo st, Inc. — All Rights Reserved.</small>
  </div>
  

  <!-- JavaScript at end of body for optimized loading-->

  <!-- Bootstrap Javascript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Jitsi-->
  <!-- https://github.com/jitsi/jitsi-meet/blob/master/doc/api.md-->
  <script type="text/javascript" src="https://meet.jit.si/external_api.js"></script>

  <!-- Socket.IO -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Custom -->
  <script type="module" defer src="/js/console.js"></script>
  <script src="/js/keyboard.js"></script>
  <script src="/js/gamepad.js"></script>
  <script src="/js/video.js"></script>
</body>

</html>
