<%- include('header') -%>

<body>
  <%- include('navbar') -%>

  <master class="m-2">
    <div class="container">

      <!-- Add Device -->
      <form id="form-add-device">
        <div class="form-row align-items-center">
          <div class="col-sm-5 my-2">
            <label class="sr-only" for="inline-form-device-name">Name</label>
            <input type="text" class="form-control" id="deviceName" placeholder="Device Name">
          </div>
          <div class="col-sm-5 my-2">
            <label class="sr-only" for="inline-form-serial-number">Serial Number</label>
            <div class="input-group">
              <input type="text" class="form-control" id="deviceSerial" placeholder="Serial Number" minlength="11" maxlength="11" size="11">
            </div>
          </div>
          <div class="col-auto my-2">
            <button type="submit" class="btn btn-secondary">Add</button>
          </div>
        </div>
      </form>

      <!-- Device List -->
      <div class="row">
        <div class="col">
          <div id="list-device" class="list-group"></div>
        </div>
      </div>

    </div>
  </master>

  <!-- footer-->
  <div class="white-text" style="position:relative">
    <small style="position:fixed; bottom:0; width:100%; text-align:center">© 2020 hapi-robo st, Inc. — All Rights Reserved.</small>
  </div>
  

  <!-- JavaScript at end of body for optimized loading-->

  <!-- Bootstrap Javascript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Custom -->
  <script src="/js/devices.js"></script>

</body>

</html>
