<%- include('header') -%>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Connect
    </a>
    <ul class="nav justify-content-end">
      <% if (user) { -%>
        <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
      <% } else { -%>
        <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
      <% } -%>
    </ul>
  </nav>

</body>

</html>
