<%- include('header') -%>

<body>
  <ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link" href="/">Homepage</a></li>  
    <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
    <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>  
  </ul>

  <h1>Homepage</h1>

</body>

</html>
