extends layout

block content

  div(style='height:100vh;')

    // robot selection menu
    div#robot-menu.row.valign-wrapper
      div.input-field.col.l2.offset-l5.m4.offset-m4.s6.offset-s3
        input#temi-id.validate.white-text(type='text')
        label(for='temi-id') temi ID
        div#robot-collection

    // control panel
    div#robot-ctrl-panel.container.center-align
      a#home-btn.btn-flat.white-text
        i.fas.fa-home
      a#video-btn.btn-flat.white-text
        i.fas.fa-video
      a.btn-flat.white-text.modal-trigger(data-target='waypoint-menu')
        i.material-icons location_on
      a.btn-flat.white-text
        i#battery-state

    // video-call div
    div.row.valign-wrapper
      div#video-container.col.l6.offset-l3.s12.center-align

    // text input
    div.row
      div.input-field.col.l2.offset-l5.m4.offset-m4.s6.offset-s3
        input#tts-input.validate.white-text(type='text')
        label(for='tts-input') Type to speak

    // footer
    div.white-text(style='position:relative')
      p(style='position:fixed; bottom:0; width:100%; text-align:center') © 2020 hapi-robo st, Inc. — All Rights Reserved.


  // locations modal
  div#waypoint-menu.modal(style='width:30%;padding:0')
    .modal-content
      ul#waypoint-modal.collection


