extends layout

block content

  div(style='height:100vh')
    nav.transparent.z-depth-0
      .nav-wrapper
        .row
          .col.s12
            ul#robot-menu.right(style='display:none;')
              li
                a
                  i#battery-state
              li
                a.modal-trigger.show-on-large(data-target='waypoint-menu')
                  i.material-icons location_on

    #menu.row.valign-wrapper(style='height:80vh')
      .input-field.col.s3.offset-s5
        input#temi_id.validate.white-text(type='text')
        label(for='temi_id') temi ID
        #robot-nav.collection

    #video-conference

    .white-text(style='position:relative')
      p(style='position:fixed; bottom:0; width:100%; text-align:center') © 2020 hapi-robo st, Inc. — All Rights Reserved.

  #waypoint-menu.modal.bottom-sheet
    .modal-content
      h4 Select Location
      ul#waypoint-nav.collection(style='background-color: rgba(232,232,232,0.5);')


