<%- include('header') -%>

<body>
  <%- include('navbar') -%>

  <!-- Sign in buttons -->
  <div class="container text-center">
<!--     <div class="row">
      <div class="col">
        <a class="btn btn-outline-dark" href="/auth/github" role="button">
          <i class="fab fa-github"></i>
          Sign in with Github
        </a>
      </div>
    </div> -->
    
    <!-- https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-branding-in-azure-ad-apps -->
    <div class="row">
      <div class="col mt-5">
        <a href="/auth/azure">
          <img src="/img/ms-symbollockup_signin_light.svg">
        </a>
      </div>
    </div>
  </div>

</body>

</html>
