<%- include('header') -%>

<body>
  <ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link" href="/">Homepage</a></li>  
    <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
    <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>  
    <li class="nav-item"><a class="nav-link" href="#"><%= user.username %></a></li>
  </ul>

  <div style="height:100vh;"></div>
  <!-- robot selection menu-->
  <div class="row valign-wrapper" id="robot-menu">
    <div class="input-field col l2 offset-l5 m4 offset-m4 s6 offset-s3">
      <input class="validate white-text" id="temi-id" type="text" />
      <label for="temi-id">temi ID</label>
        <div id="robot-collection"></div>
    </div>
  </div>

  <!-- control panel-->
  <div class="container center-align" id="robot-ctrl-panel">
    <a class="btn-flat white-text" id="home-btn">
      <i class="fas fa-home"></i>
    </a>
    <a class="btn-flat white-text" id="video-btn">
      <i class="fas fa-video"></i>
    </a>
    <a class="btn-flat white-text modal-trigger" data-target="waypoint-menu">
      <i class="material-icons">location_on</i>
    </a>
    <a class="btn-flat white-text">
      <i id="battery-state"></i>
    </a>
  </div>

  <!-- video-call div-->
  <div class="row valign-wrapper">
    <div class="col l6 offset-l3 s12 center-align" id="video-container"></div>
  </div>

  <!-- text input-->
  <div class="row" id="text-input">
    <div class="input-field col l2 offset-l5 m4 offset-m4 s6 offset-s3">
      <input class="validate white-text" id="utterance" type="text" />
      <label for="utterance">Type to speak</label>
    </div>
  </div>

  <!-- footer-->
  <div class="white-text" style="position:relative">
    <p style="position:fixed; bottom:0; width:100%; text-align:center">© 2020 hapi-robo st, Inc. — All Rights Reserved.</p>
  </div>
  
  <!-- locations modal-->
  <div class="modal" id="waypoint-menu" style="width:30%;padding:0"></div>
  <div class="modal-content">
    <ul class="collection" id="waypoint-modal"></ul>
  </div>


  <!-- JavaScript at end of body for optimized loading-->
  <!-- Materialize JavaScript-->
<!--   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

  <!-- Bootstrap Javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Jitsi-->
  <!-- https://github.com/jitsi/jitsi-meet/blob/master/doc/api.md-->
  <script type="text/javascript" src="https://meet.jit.si/external_api.js"></script>

  <!-- Paho MQTT-->
  <!-- https://github.com/eclipse/paho.mqtt.javascript-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.min.js"></script>
  
  <!-- Custom Events-->
  <script type="module" src="/js/main.js"></script>
</body>

</html>
