<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Test</title>
    <meta charset="utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>

  <body>
    <div style="height:100vh">
      <nav class="transparent z-depth-0">
        <div class="nav-wrapper">
          <div class="row">
            <div class="col s12">
              <ul class="right" id="robot-menu" style="display:none;">
                <li><a><i id="battery-state"></i></a></li>
                <li><a class="sidenav-trigger show-on-large" data-target="waypoint-nav"><i class="material-icons">location_on</i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

      <div id="menu" class="row valign-wrapper" style="height:80vh">
        <div class="input-field col s3 offset-s8">
          <!-- https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation -->
          <!-- https://materializecss.com/autocomplete.html -->
          <input id="first_name" type="text">
          <label for="first_name">temi ID</label>
          <div id="robot-nav" class="collection">
            <a class="collection-item"><span class="black-text">00119452440</span></a>
          </div>
        </div>
      </div>

      <div style="position:relative">
        <p style="position:fixed; bottom:0; width:100%; text-align:center">Footer Text</p></div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
  </body>
</html>